<div id="footer">
  <div class="container">
    <div class="footer_info">
      <div class="footer_logo">
        <%# <a href="https://unl.edu" rel="external"><%= image_tag 'footer_logo_unl.png' </a> %>
      </div>

      <div class="footer_logo">
        <%# <a href="https://www.nsf.gov" rel="external"><%= image_tag 'logo-nsf.png' </a> %>
      </div>

      <div class="footer_logo">
        <p><%= t "general.cdrh_link_html" %></p>
      </div>
    </div><!-- /footer_info -->

    <%# <div class="footer_additional_info">


      <br/><br/>
      <p class="footer_content_warning">Please note: some of the materials on this site contain sensitive and potentially disturbing content.</p>

    </div> %>
  </div> <!-- /container -->
</div><!-- /footer -->
